<div class="mui-container">
  <h1>{{employee.titleofcourtesy}} {{employee.firstname}} {{employee.lastname}}</h1>
  <div class="mui-panel">
    <div class="mui-row">
      <div class="mui-col-md-6">
        <h3>Notes</h3>
        <p>{{employee.notes}}</p>
      </div>
      <div class="mui-col-md-6">
        <h3>Contact Info</h3>
        <div>{{employee.homephone}}</div>
        <div>{{employee.address}}</div>
        <div>{{employee.city}}, {{employee.region}} {{employee.postalcode}}</div>
        <div>{{employee.country}}</div>
      </div>
    </div>
  </div>
</div>