<div class="mui-container">
  <h1>
    <span class="mui-badge mui--pull-right">{{supplier.id}}</span>
    {{supplier.companyname}}
  </h1>
  <div class="mui-panel">
    <div class="mui-row">
      <div class="mui-col-md-6">
        <h3>Contact Info</h3>
        <p>
          <strong>{{supplier.contactname}}</strong>
          <br> {{supplier.contacttitle}}
        </p>
        <p>
          <div>
            <strong>Phone: </strong> {{supplier.phone}}</div>
          <div>
            <strong>Fax: </strong> {{supplier.fax}}</div>
        </p>
        <p>
          <div>{{supplier.address}}</div>
          <div>{{supplier.city}}, {{supplier.country}} {{supplier.postalcode}}</div>
          <div>{{supplier.region}}</div>
        </p>

      </div>
    </div>
  </div>
</div>