<li>
  <a class='mui-panel' href="/employees/{{employee.Id}}">
    <span class='mui-badge mui--pull-right'>{{employee.Title}}</span>
    <h3 class='mui-panel__title'>{{employee.LastName}}, {{employee.FirstName}}</h3>
    <p>
      <strong>Region: </strong> {{employee.Region}}</p>
    <p>
      <strong>Hired: </strong> {{format-date employee.HireDate}}</p>
  </a>
</li>