<div class="mui-container">
  <h1>All Orders</h1>
  {{> 'pagination'}}
  <div class="mui-panel">
    <table class="mui-table">
      <thead>
        <tr>
          <th>Id {{> 'table-col-sort' by='Id'}} </th>
          <th>CustomerId {{> 'table-col-sort' by='CustomerId'}} </th>
          <th>EmployeeId {{> 'table-col-sort' by='EmployeeId'}} </th>
          <th>Ship To {{> 'table-col-sort' by='ShipCountry'}} </th>
        </tr>
      </thead>
      <tbody>
        {{#each orders as |o|}}
        <tr>
          <td>{{#link-to href=(concat '/orders/' o.Id)}} {{o.Id}} {{/link-to}}</td>
          <td>{{#link-to href=(concat '/customers/' o.CustomerId)}} {{o.CustomerId}} {{/link-to}}</td>
          <td>{{#link-to href=(concat '/employees/' o.EmployeeId)}} {{o.EmployeeId}} {{/link-to}}</td>
          <td>{{o.ShipCity}}, {{o.ShipCountry}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>