<div class="mui-container">
  <h1>
    {{#link-to href='/orders'}}
      Orders
    {{/link-to}} / {{order.id}}
    <a href="/orders/{{order.id}}/edit" class="mui-btn mui--pull-right">✏️&nbsp;&nbsp;&nbsp;Edit</a>
  </h1>
  <div class="mui-row">
    <div class="mui-col-md-6">
      <div class="mui-panel">

        <b>Ordered for customer: </b>
        <span class="customer">{{or order.customername order.customerid}}</span>
        <br>
        <b>Placed by employee: </b>
        <span class="employee">{{or order.employeename order.employeeid}}</span>
        <br>
        <br>
        <b>Placed on:</b>
        <span class="order-date">{{format-date order.orderdate}}</span>
        <br>
        <b>Required by: </b>
        <span class="required-date">{{format-date order.requireddate}}</span>
        <br>
        <b>Shipped on: </b>
        <span class="shipped-date">{{format-date order.shippeddate}}</span>
        </p>
      </div>
    </div>
    <div class="mui-col-md-6">
      <div class="mui-panel">
        <p>
          <b>Ship To: </b>
          <br>
          <br>
          <span class="customer">{{or order.customername order.customerid}}</span>
          <br>ATTN:
          <span class="ship-name">{{order.shipname}}</span>
          <br>
          <span class="ship-address">{{order.shipaddress}}</span>
          <br> {{order.shipcity}}, {{order.shipcountry}} {{order.shippostalcode}}
        </p>
      </div>
    </div>
  </div>
  <div class="mui-row">
    <div class="mui-col-lg-12">
      <div class="mui-panel">
        <table class="mui-table">
          <thead>
            <th class='id-col'>Id</th>
            <th class='id-col'>Product</th>
            <th class='money-col'>Unit Price</th>
            <th>Qty</th>
            <th class='money-col'>Price</th>
          </thead>
          <tbody>
            {{#each items as |item|}}
            <tr>
              <td class='id-col'>{{item.id}}</td>
              <td class='id-col'>{{or item.productname item.productid}}</td>
              <td class='money-col'>
                {{format-money item.unitprice}} {{#if item.discount}}
                <span class="mui-badge mui--pull-left">-{{format-percent item.discount}}</span>
                {{/if}}
              </td>
              <td>{{item.quantity}}</td>
              <td class='money-col'>{{format-money item.price}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <h3 class='text-right mui--color-indigo'>
          Subtotal: {{format-money order.subtotalprice}}
        </h3>
        <h3 class='text-right mui--color-indigo'>
          + Shipping: {{format-money order.freight}}
        </h3>
        <div class="mui-divider"></div>
        <h3 class='text-right mui--color-green'>
          Grand total: {{format-money (add order.subtotalprice order.freight)}}
        </h3>
      </div>
    </div>
  </div>
</div>