<div class="mui-container">
  <h1>All Customers</h1>
  <ul class='collection'>
    {{#each customers as |c|}}
    <li>
      <a class='mui-panel' href="/customers/{{c.Id}}">
        <span class='mui-badge mui--pull-right'>{{c.Id}}</span>
        <h3 class='mui-panel__title'>{{c.CompanyName}}</h3>
        <p>
          <strong>Contact Name:</strong> {{c.ContactName}}
        </p>
      </a>
    </li>
    {{else}}
    <li>No customers</li>
    {{/each}}
  </ul>
</div>