<div class="mui-container">
  <h1>
    <span class="mui-badge mui--pull-right">{{customer.Id}}</span>
    {{customer.CompanyName}}
  </h1>
  <div class="mui-panel">
    <div class="mui-row">
      <div class="mui-col-md-6">
        <h3>Contact Info</h3>
        <p>
          <strong>{{customer.ContactName}}</strong>
          <br> {{customer.ContactTitle}}
        </p>
        <p>
          <div>
            <strong>Phone: </strong> {{customer.Phone}}</div>
          <div>
            <strong>Fax: </strong> {{customer.Fax}}</div>
        </p>
        <p>
          <div>{{customer.Address}}</div>
          <div>{{customer.City}}, {{customer.Country}} {{customer.PostalCode}}</div>
          <div>{{customer.Region}}</div>
        </p>

      </div>
    </div>
  </div>
  <h3>Orders ({{orders.length}})</h3>
  <div class="mui-panel">
    {{> 'pagination'}}

    <table class="mui-table">
      <thead>
        <tr>
          <th>Id {{> 'table-col-sort' by='Id'}}</th>
          <th>EmployeeId {{> 'table-col-sort' by='EmployeeId'}}</th>
          <th>Ordered On {{> 'table-col-sort' by='OrderDate'}}</th>
          <th>Required On {{> 'table-col-sort' by='RequiredDate'}}</th>
          <th>Shipped On {{> 'table-col-sort' by='ShippedDate'}}</th>
          <th>Ship To {{> 'table-col-sort' by='ShipCountry'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders as |o|}}
        <tr>
          <td>{{o.Id}}</td>
          <td>{{o.EmployeeId}}</td>
          <td>{{format-date o.OrderDate pattern='ll'}}</td>
          <td>{{format-date o.RequiredDate pattern='ll'}}</td>
          <td>{{format-date o.ShippedDate pattern='ll'}}</td>
          <td>{{o.ShipCity}}, {{o.ShipCountry}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>